/* font-family: 'Montserrat', sans-serif; */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1F1E1E;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 10px;
  height: 96vh;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  width: 320px;
  margin-top: 10vh;
  position: relative;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

.store {
  margin-top: 20px;
}


.bottom {
  position: absolute;
  bottom: 0px;
}

.bottom span {
  font-weight: 700;
}

.container_img {
  height: 95vh;
}
.content_mobile{
  display: none;
}

@media (max-width: 900px) {
  .container_img {
    position: absolute;
    z-index: 0;
    right: 0;
  }

  
  .bottom  {
    z-index: 6;
  }
  .store, .logo{
    left: 0;
    position: relative;
    z-index: 6;
  }
}


@media (max-width: 720px) {
  .container_img{
    display: none;
  }
  .content_mobile{
    display: block;
    position: absolute;
    z-index: 0;
    right: 0;
    height: 98vh;
  }
  .title{
    font-size: 41px;
    width: 216px;
    margin-top: 0vh;
  }

  .store{
    margin-top: 20px;
    width: 200px;
  }

  body{
    font-size: 12px;
  }
}

  @media (max-width: 480px) {
  .title{
    font-size: 20px;
    width: 188px;
    margin-top: 0vh;
  }

  .store{
    margin-top: 4px;
    width: 135px;
  }
  /* .bottom{
    bottom: -200%;
  } */
  body{
    font-size: 12px;
  }
}